.section {
  margin: 0 auto;
  padding: 150px 0;
  max-width: 1000px;
}

.relative {
  position: relative;
}

@import '../../styles/breakpoints';

@media (max-width: $tablet) {
  .section {
    padding: 100px 0;
  }
}