@font-face {
    font-family: 'Calibre';
    src: url('../assets/fonts/Calibre/Calibre-MediumItalic.woff2') format('woff2'),
        url('../assets/fonts/Calibre/Calibre-MediumItalic.woff') format('woff'),
        url('../assets/fonts/Calibre/Calibre-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Calibre';
    src: url('../assets/fonts/Calibre/Calibre-Semibold.woff2') format('woff2'),
        url('../assets/fonts/Calibre/Calibre-Semibold.woff') format('woff'),
        url('../assets/fonts/Calibre/Calibre-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Calibre';
    src: url('../assets/fonts/Calibre/Calibre-SemiboldItalic.woff2') format('woff2'),
        url('../assets/fonts/Calibre/Calibre-SemiboldItalic.woff') format('woff'),
        url('../assets/fonts/Calibre/Calibre-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SF Mono';
    src: url('../assets/fonts/SFMono/SFMono-Regular.woff2') format('woff2'),
        url('../assets/fonts/SFMono/SFMono-Regular.woff') format('woff'),
        url('../assets/fonts/SFMono/SFMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Mono';
    src: url('../assets/fonts/SFMono/SFMono-RegularItalic.woff2') format('woff2'),
        url('../assets/fonts/SFMono/SFMono-RegularItalic.woff') format('woff'),
        url('../assets/fonts/SFMono/SFMono-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SF Mono';
    src: url('../assets/fonts/SFMono/SFMono-Medium.woff2') format('woff2'),
        url('../assets/fonts/SFMono/SFMono-Medium.woff') format('woff'),
        url('../assets/fonts/SFMono/SFMono-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Mono';
    src: url('../assets/fonts/SFMono/SFMono-MediumItalic.woff2') format('woff2'),
        url('../assets/fonts/SFMono/SFMono-MediumItalic.woff') format('woff'),
        url('../assets/fonts/SFMono/SFMono-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SF Mono';
    src: url('../assets/fonts/SFMono/SFMono-Semibold.woff2') format('woff2'),
        url('../assets/fonts/SFMono/SFMono-Semibold.woff') format('woff'),
        url('../assets/fonts/SFMono/SFMono-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Mono';
    src: url('../assets/fonts/SFMono/SFMono-SemiboldItalic.woff2') format('woff2'),
        url('../assets/fonts/SFMono/SFMono-SemiboldItalic.woff') format('woff'),
        url('../assets/fonts/SFMono/SFMono-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}