%flex {
  display: flex;
}

%flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

%flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
%smallButton {
  color: var(--c-primary);
  background-color: transparent;
  border: 2px solid var(--c-primary);
  border-radius: 3px;
  padding: 0.75rem 1rem;
  font-size: var(--fs-md);
  font-family: var(--font-SFMono);
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  transition: var(--transition);
  &:hover,
  &:focus,
  &:active {
    background-color: var(--c-primaryLight);
  }
  &:after {
    display: none !important;
  }
}

%bigButton {
  color: var(--c-primary);
  background-color: transparent;
  border: 2px solid var(--c-primary);
  border-radius: 3px;
  padding: 1.25rem 1.75rem;
  font-size: var(--fs-md);
  font-family: var(--font-SFMono);
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  transition: var(--transition);
  &:hover,
  &:focus,
  &:active {
    background-color: var(--c-primaryLight);
  }
  &:after {
    display: none !important;
  }
}

%link {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: inherit;
  position: relative;
  transition: var(--transition);
  cursor: pointer;
  &:hover,
  &:active,
  &:focus {
    color: var(--c-primary);
    outline: 0;
  }
}

%inlineLink {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  position: relative;
  transition: var(--transition);
  cursor: pointer;
  color: var(--c-primary);
  &:hover,
  &:focus,
  &:active {
    color: var(--c-primary);
    outline: 0;
    &:after {
      width: 100%;
    }
  }
  &:after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    position: relative;
    bottom: 0.37em;
    background-color: var(--c-primary);
    transition: var(--transition);
    opacity: 0.5;
  }
}

%boxShadow {
  box-shadow: 0 10px 30px -15px var(--c-secondaryLightest);
  transition: var(--transition);
  &:hover,
  &:focus {
    box-shadow: 0 20px 30px -15px var(--c-secondaryLightest);
  }
}
