.dark {
    --c-primary: theme(colors.primary);
    --c-primaryLight: theme(colors.primaryLight);
    --c-secondary: theme(colors.secondary);
    --c-secondaryLight: theme(colors.secondaryLight);
    --c-secondaryLighter: theme(colors.secondaryLighter);
    --c-secondaryLightest: theme(colors.secondaryLightest);
    --c-tertiary: theme(colors.tertiary);
    --c-tertiaryLight: theme(colors.tertiaryLight);
    --c-tertiaryLigher: theme(colors.tertiaryLigher);

    --blend: theme(blend);
}

:root {
    --font-Calibre: Calibre, 'San Francisco', 'SF Pro Text', -apple-system,
        system-ui, BlinkMacSystemFont, Roboto, 'Helvetica Neue', 'Segoe UI', Arial,
        sans-serif;
    --font-SFMono: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono',
        'Lucida Console', Monaco, monospace;

    --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    --easing: cubic-bezier(0.645, 0.045, 0.355, 1);

    --fs-xs: 15px;
    --fs-smish: 15px;
    --fs-sm: 14px;
    --fs-md: 16px;
    --fs-lg: 18px;
    --fs-xl: 20px;
    --fs-xxl: 22px;
    --fs-24: 24px;
    --fs-h3: 32px;

    --highlight: var(--c-tertiary);
}

body {
    margin: 0;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background-color: var(--c-secondary);
    color: var(--c-tertiary);
    line-height: 1.3;
    font-family: var(--font-Calibre);
    font-size: var(--fs-xl);
}

.hidden {
    overflow: hidden;
}

/* App Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--c-secondary);
}

/* Handle */
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
    background: var(--c-primary);
    border-radius: 5px;
}