@import '../../styles/common';

.menu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  outline: 0;
  transition: var(--transition);
  display: none;
}

.aside {
  @extend %flexCenter;
  flex-direction: column;
  background-color: var(--c-secondaryLighter);
  padding: 50px;
  width: 50vw;
  height: 100%;
  position: relative;
  right: 0;
  margin-left: auto;
  font-family: var(--font-SFMono);
  box-shadow: -10px 0px 30px -15px var(--c-secondaryLightest);
}

.nav {
  @extend %flexBetween;
  width: 100%;
  flex-direction: column;
  text-align: center;
  color: var(--c-tertiaryLight);

  ol {
    width: 100%;

    li {
      margin: 0 auto 20px;
      position: relative;
      font-size: var(--fs-lg);
      counter-increment: item 1;

      &:before {
        display: block;
        content: '0' counter(item) '.';
        color: var(--c-primary);
        font-size: var(--fs-sm);
        margin-bottom: 5px;
      }

      a {
        @extend %link;
        padding: 3px 20px 20px;
        width: 100%;
      }
    }
  }
}

.resumeLink {
  @extend %bigButton;
  padding: 18px 50px;
  margin: 10% auto 0;
  width: max-content;
  font-size: var(--fs-lg);
}

@import '../../styles/breakpoints';

@media (max-width: $tablet) {
  .menu {
    display: block;
  }
}

@media (max-width: $thone) {
  .aside {
    padding: 25px;
  }
}

@media (max-width: $phablet) {
  .aside {
    width: 75vw;
  }

  .nav {
    ol {
      li {
        margin: 0 auto 10px;
        font-size: var(--fs-md);
      }
    }
  }
}

@media (max-width: $tiny) {
  .aside {
    padding: 10px;
  }

  .nav {
    ol {
      li {
        margin: 0 auto 10px;
        font-size: var(--fs-smish);
      }
    }
  }
}